body {
  background-color: #E5E3C9;
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #789395;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin: 1000px 10px;
  text-decoration: none;
}

a:hover{
  color: #E5E3C9;
}

h1 {
  font-size: 5rem;
  margin: 50px auto 0;
  font-family: "Raleway", sans-serif;
  color: #789395;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  line-height: 2rem;
  color: #789395;
}

h3 {
  color: #94B49F;
  font-weight: normal;
  line-height: 2rem;
}

hr {
  margin: 100px auto 100px;
  width: 5%;
  border: dotted #789395 6px;
  border-bottom: none;
}

p {
  width: 20%;
  margin: auto;
  line-height: 2;
}


.bottom-cloud {
  position: absolute;
  left: 400px;
  top: 200px;
}

.bottom-container {
  background-color: #94B49F;
  padding: 20px 0 20px;
  line-height: 2;
}

.btn {
  background: #94B49F;
  background-image: -webkit-gradient(top, #B4CFB0, #83997f);
  background-image: -webkit-linear-gradient(top, #94B49F, #64806d);
  background-image: -moz-linear-gradient(top, #94B49F, #64806d);
  background-image: -ms-linear-gradient(top, #94B49F, #64806d);
  background-image: -o-linear-gradient(top, #94B49F, #64806d);
  background-image: linear-gradient(to bottom, #94B49F, #64806d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #B4CFB0;
  background-image: -webkit-gradient(top, #B4CFB0, #83997f);
  background-image: -webkit-linear-gradient(top, #B4CFB0, #83997f);
  background-image: -moz-linear-gradient(top, #B4CFB0, #83997f);
  background-image: -ms-linear-gradient(top, #B4CFB0, #83997f);
  background-image: -o-linear-gradient(top, #B4CFB0, #83997f);
  background-image: linear-gradient(to bottom, #B4CFB0, #83997f);
  text-decoration: none;
}

.checkout{
  margin-bottom: 30px;
}

.contact-me {
  margin: 50px auto 50px;
}

.copyright{
  color: #E5E3C9;
  font-size: 0.75em;
  padding: 10px 0;
}

.intro {
  font-family: "Indie Flower", sans-serif;
}

.middle-container {
  margin: 50px;
}

.top-container {
  background-color: #B4CFB0;
  position: relative;
  padding-top: 100px;
}

.profile {
  margin-top: 30px;
  margin-bottom: 50px;
}

.profileImg {
  border-radius: 15%;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.skills {
  margin-top: 50px;
}

.skillImg1 {
  border-radius: 15%;
  text-align: left;
  /* float: left;
    margin-right: 30px; */
}

.skillImg2 {
  border-radius: 15%;
  /* float: right;
    margin-left: 30px; */
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
}
